.card{
    &-header{
        width: 100%;
        max-width: 1280px;
        box-sizing: border-box;
        @include flex(flex, row, space-between, center, no-wrap);
        &_title{
            @include font("Roboto", 24px, 28px, 300, $text);
            margin-right: 10px;
        }
        & .status{
            width: 78px;
        }
        & .button_primary{
            width: 169px;
        }
    }
    &-wrapper{
        @include flex(flex, row, space-between, center, no-wrap);
        & .button{
            width: 152px;
            margin-right: 10px;
            &:last-of-type{
                margin-right: 0;
            }
            &.button_primary{
                width: 155px;
            }
            &.button_error{
                width:103px;
            }
        }
        &_left{
            width: 66.5%;
            @include flex(flex, row, flex-start, center, no-wrap);
        }
        & .card-wrapper_btn{
            width: 98px;
            &-primary{
            width: 228px;
            }
        }
    }
}