@import "../mixins.scss";

.input{
    
    border: 1px solid $inner-shadow;
    border-radius: 3px;
    box-shadow: inset 0px 0px 2px 1px $inner-shadow;
    background-color: $white;
    height: 24px;
    box-sizing: border-box;
    &::placeholder{
        @include font('Inter', 14px, 14px, 400, $text)
    }
    &:hover{
        border-color: $primary;
        box-shadow: inset 0px 0px 2px 1px #B5B5B5;
    }
    &:focus{
        box-shadow: 0px 0px 2px 2px rgba(123, 97, 255, 0.5);
    }
}

.label{
    @include font('Roboto', 16px, 19px, 400, $label-text);
    margin-bottom: 5px;
}

.button{
    display: block;
    background-color: $white;
    text-align: center;
    border: 1px solid $text;
    border-radius: 5px;
    height: 25px;
    white-space: nowrap;
    @include font('Roboto', 16px, 19px, 400, $white);
    color: $text;
    &:hover{
        background-color: #E1E1E1;
    }
    &:focus{
        background-color: #CFCFCF;
    }
    &_primary{
        background-color: $primary;
        border-color: $primary;
        color: $white;
        &:hover{
            background-color: #8A73FF;
            border-color: #8A73FF;
        }
        &:focus{
            background-color: #715BE3;
            border-color: #715BE3;
        }
    }
    &_success{
        background-color: $success;
        border-color: $success;
        color: $white;
        &:hover{
            background-color: #80F0A6;
            border-color: #80F0A6;
        }
        &:focus{
            background-color: #4BD379;
            border-color: #4BD379;
        }
    }
    &_error{
        background-color: $error;
        border-color: $error;
        color: $white;
        &:hover{
            background-color: #FF8080;
            border-color: #FF8080;
        }
        &:focus{
            background-color: #D65D5D;
            border-color: #D65D5D;
        }
    }
    &_disabled{
        background-color: $inner-shadow;
        border-color: $inner-shadow;
        color: $label-text;
        &:hover{
            background-color: $inner-shadow;
            border-color: $inner-shadow;
        }
        &:focus{
            background-color: $inner-shadow;
            border-color: $inner-shadow;
        }
    }
}

