.popup{
    display: none;
    position: absolute;
    padding: 5px;
    width: 105px;
    z-index: 10;
    top: 45px;
    right: 0px;
    border: 1px solid $primary;
    background-color: $white;
    box-shadow: 0px 0px 2px 2px rgba(123, 97, 255, 0.5);
    border-radius: 5px;
    background-color: $white;
    &-item{
        width: 100%;
        background-color: $white;
    }
    &-btn{
        margin-bottom: 2px;
        @include font("Inter", 12px, 14px, 400, $text);
        border: none;
        background-color: $white;
        
        &_er{
        background-color: $white;
        color: $error;
        }
    }
    &-active{
        background-color: $white;
        display: block;
    }
    &-header{
        width: 136px;
        &-item{
        padding: 2px 0;
        width: 136px;
        height: 24px;
        }
    }
    &-authorize{
        width: 200px;
        height: 100px;
        top: 100px;
        left: 40vw;
        text-align: center;
        &_title{
            @include font("Inter", 20px, 20px, 400, $text);
            margin-bottom: 20px;
        }
        &-active{
            @include flex(flex, column, center, center, no-wrap);

        }
    }
}